{% load static %}
<html>
  <header>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href= "{% static "css/bootstrap.css" %}"  rel="stylesheet" />
  </header>
  <body>


    <div class="container">
        <div class="row">
          
        </div>
    </div>  
    
    <script src= "{% static "js/jquery-3.1.1.js" %}" ></script>
    <script src= "{% static "js/bootstrap.js" %}" ></script>
  </body>
</html>